<header>
    
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/logo.png" alt="" style="height: 40px; ">
                </a>
                <h2 style="font-family: 'Times New Roman', Times, serif;">PanduBroker.com</h2> &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="menu" style="display: flex; font-family: 'Times New Roman', Times, serif; ">
              <a class="navbar-brand" [routerLink]="['/home']"><span>Home</span></a>
              <a class="navbar-brand" [routerLink]="['/about']"><span>About</span></a>
              <a class="navbar-brand" [routerLink]="['/services']"><span>Services</span></a>    
              <a class="navbar-brand" [routerLink]="['/buy']"><span>Buy</span></a>
                <a class="navbar-brand" [routerLink]="['/rent']"><span>Rent</span></a>  
                <a class="navbar-brand" [routerLink]="['/sell']"><span>Sell</span></a> 
                
            </div>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> &nbsp;&nbsp;
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
      
      
</header>