<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="./assets/images/img/property-4.png"
        alt="Card image cap"
      />
      <div class="badge">Sell</div>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)">
          <strong>₹7,000 </strong>
        </h4>
        <h3>Row House</h3>

        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 5 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img
          class="card-img-top"
          src="./assets/images/img/property-3.jpg"
          alt="Card image cap"
        />
        <div class="badge">Sell</div>
        <div class="card-body">
          <h4 class="card-title" style="color: rgb(92, 128, 82)">
            <strong>₹5,000 </strong>
          </h4>
          <h3>Luxurious PentHouse</h3>
  
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 5 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/images/img/property-2.jpg"
          alt="Card image cap"
        />
        <div class="badge">Sell</div>
        <div class="card-body">
          <h4 class="card-title" style="color: rgb(92, 128, 82)">
            <strong>₹10,000 </strong>
          </h4>
          <h3>Modern Apartment</h3>
  
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 5 mins ago</small>
        </div>
      </div>
  </div>
</div>
