<div class="section1">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/images/img/property-1.jpg" alt="Card image cap">
      <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
      <address style="font-weight: 600;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      Manish Nagar, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹440,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">
          A luxurious apartment epitomizes upscale living, boasting lavish amenities, exquisite interiors, and exclusive services. Located in prime areas with stunning views, these residences offer a refined lifestyle marked by sophistication and indulgence.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/images/img/property-2.jpg" alt="Card image cap">
      <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
      <address style="font-weight: 600;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      Narendra Nagar, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹50,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">
          A luxurious apartment epitomizes upscale living, boasting lavish amenities, exquisite interiors, and exclusive services. Located in prime areas with stunning views, these residences offer a refined lifestyle marked by sophistication and indulgence.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 2 mins ago</small>
      </div>
    </div>
    <div class="card">
      
      <img class="card-img-top" src="../../../../assets/images/img/property-3.jpg" alt="Card image cap">
        <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
        <address style="font-weight: 600;"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg>
        Ujwal Nagar, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹50,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
   
     
      
  </div>
  
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/images/img/property-4.png" alt="Card image cap">
      <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
      <address style="font-weight: 600;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      Khapri, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹80,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 5 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/home images/5.jpeg" alt="Card image cap">
      <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
      <address style="font-weight: 600;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      Manish Nagar, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹40,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 20 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/home images/6.jpeg" alt="Card image cap">
      <span class="badge badge-primary" style="position: absolute; top: 10px; right: 10px;">For Sale</span>
      <address style="font-weight: 600;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
      </svg>
      Mihan SEZ, Nagpur</address>
      <div class="card-body">
        <h4 class="card-title" style="color: rgb(92, 128, 82)"><strong>₹20,000 </strong> </h4>
        <h3>Modern Apartment</h3>
        <p class="card-text">
          A luxurious apartment epitomizes upscale living, boasting lavish amenities, exquisite interiors, and exclusive services. Located in prime areas with stunning views, these residences offer a refined lifestyle marked by sophistication and indulgence.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 35 mins ago</small>
      </div>
    </div>
  </div>
</div>