<section class="service" id="service">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card h-100">
            <img src="../../../../assets/images/img/service-1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="h3 card-title">
                    <a href="#" [routerLink]="['/buy']">Buy a home</a>
                  </h3>
  
                  <p class="card-text">
                    over 1 million+ homes for sale available on the website, we can match you with a house you will want
                    to call home.
                  </p>
  
                  <a href="#" class="card-link">
                    <span>Find A Home</span>
  
                    <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
                  </a>
            </div>
        </div>
      </div>
     
      <div class="col">
        <div class="card h-100">
            <img src="../../../../assets/images/img/service-2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="h3 card-title">
                    <a href="#" [routerLink]="['/rent']">Rent a home</a>
                  </h3>
  
                  <p class="card-text">
                    over 1 million+ homes for sale available on the website, we can match you with a house you will want
                    to call home.
                  </p>
  
                  <a href="#" class="card-link">
                    <span>Find A Home</span>
  
                    <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
                  </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="../../../../assets/images/img/service-3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="h3 card-title">
                    <a href="#" [routerLink]="['/sell']">Sell a home</a>
                  </h3>
  
                  <p class="card-text">
                    over 1 million+ homes for sale available on the website, we can match you with a house you will want
                    to call home.
                  </p>
  
                  <a href="#" class="card-link">
                    <span>Find A Home</span>
  
                    <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
                  </a>
            </div>
        </div>
    </div>
  </div>
  </div>
</section>